name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.1", "3.2", "3.3", "3.4", "4.0"]
        branch: ["7-2-stable", "8-0-stable", "main"]
        exclude:
          - ruby: "3.1"
            branch: "8-0-stable"
        include:
          - ruby: head
            branch: main
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env:
          BRANCH: ${{ matrix.branch }}
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
        env:
          BRANCH: ${{ matrix.branch }}
        continue-on-error: ${{ matrix.branch == 'main' || matrix.ruby == 'head' }}
